<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/images">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
</head>
<body>
    <div class="w-full min-h-screen bg-gray-100 p-10 flex flex-col ">
        <h3 class="text-3xl mt-5 mb-10  text-center text-black">Create Account</h3>
        <div class="flex flex-row  items-center justify-around ">
            <form action="/signup" method="post" class="flex flex-col items-start  justify-around border-2 text-black border-zinc-500 rounded-md p-10 ">
                <h4 class="mb-8 text-black">Enter The Information !</h4>
                <input class="px-3 w-80 mb-4 py-2 text-black  outline-none rounded-md bg-transparent border-2 text-black  border-zinc-500" required type="text" name="name" placeholder="name">
                <input class="px-3 w-80 mb-4 py-2 text-black  outline-none rounded-md bg-transparent border-2 text-black  border-zinc-500" required type="email" name="email" placeholder="email">
                <input class="px-3 w-80 mb-4 py-2 text-black  outline-none rounded-md bg-transparent border-2 text-black  border-zinc-500"  required type="password" name="password" placeholder="password">
                <input class="px-5 py-2 bg-green-500 text-white rounded-md mt-4" type="submit" value="Craete Account">
                <p class="text-zinc-600 mt-2 text-black text-sm">alreay registred? <a href="/">Login</a></p>
            </form>
        </div>

    </div>
</body>
</html>